<div id="footer" class="text-center">
    <ul id="footernav" class="d-none d-md-inline">
        <li><a routerLink="privacy" style="border-left: 1px solid #000; padding-left: 2em;">Integritetspolicy</a></li>
        <li><a routerLink="tos">Avtal (återförsäljare)</a></li>
        <li><a routerLink="tos2">Avtal (klassrepresentat)</a></li>
    </ul>
    <ul id="footernavMobile" class="d-md-none">
        <li><a routerLink="privacy">Integritetspolicy</a></li>
        <li><a routerLink="tos">Avtal (återförsäljare)</a></li>
        <li><a routerLink="tos2">Avtal (klassrepresentat)</a></li>
    </ul>
    <p id="copy">&copy; 2021 Klassanda Klassförsäljning HB. Alla rättigheter reserverade.</p>
</div>