<div id="footer" class="text-center">
    <br>
    <ul id="footernav" class="d-none d-md-inline">
        <li><a href="https://wings.se/gdpr" target="_BLANK">Integritetspolicy</a></li>
        <li><a routerLink="/cancel">Avsluta autogiro</a></li>
        <li><a href="https://wings.se/kontakt" target="_BLANK">Kontakta oss</a></li>
    </ul>
    <ul id="footernavMobile" class="d-md-none">
        <li><a href="https://wings.se/gdpr" target="_BLANK">Integritetspolicy</a></li>
        <li><a routerLink="/cancel">Avsluta autogiro</a></li>
        <li><a href="https://wings.se/kontakt" target="_BLANK">Kontakta oss</a></li>
    </ul>
    <p id="copy">&copy; 2021 WINGS. Alla rättigheter reserverade.</p>
</div>