#footer {
    background: #eee;
}

#copy {
    font-weight: 300;
    font-size: 80%;
    text-align: center;
    padding-bottom: 3em;
    margin-block-end: 0 !important;
}

/* Footer nav native */
#footernav {
    padding-inline-start: 0;
}

#footernav > li  {
    padding: 1em;
    display: inline-block;
}

#footernav > li > a {
    padding-right: 2em;
    border-right: 1px solid #000;
    color: #6c757d;
    text-decoration: none !important;
}

#footernav > li > a:hover {
    color: #000;
    text-decoration: none;
}

/* Footer nav mobile */
#footernavMobile {
    padding-top: 1rem;
    list-style: none;
    padding-inline-start: 0;
}

#footernavMobile > li {
    padding: .7rem;
}

#footernavMobile > li > a {
    color: #6c757d;
    text-decoration: none !important;
}

#footernavMobile > li > a:hover {
    color: #000;
    text-decoration: none;
}