<div class="container" id="cancelWrap">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-xl-6 col-xxl-6 offset-md-1 offset-lg-2 offset-xl-3 offset-xxl-3">
            <h2 id="cancelTitle">Säg upp autogiro</h2>
            <p>Här kan du säga upp ditt autogiro. Allt vi behöver är din email och ditt personnummer:</p>
            <form id="cancelForm" [formGroup]="cancelForm" (ngSubmit)="submit()">
                <label for="email">Email:</label>
                <input type="text" class="form-control" formControlName="email" id="email" 
                       placeholder="namn@exempel.com" [ngClass]="{'is-invalid': submitted && f.email.errors}">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Du måste fylla i din email.</div>
                </div><!-- ./Error -->
                <br>
                <label for="ssn">Personnummer:</label>
                <input type="text" class="form-control" formControlName="ssn" id="ssn"
                       placeholder="ÅÅÅÅMMDDXXXX" [ngClass]="{'is-invalid': submitted && f.ssn.errors}">
                <div *ngIf="submitted && f.ssn.errors" class="invalid-feedback">
                    <div *ngIf="f.ssn.errors.required">Du måste fylla i ditt personnummer.</div>
                    <div *ngIf="f.ssn.errors?.minlength">Personnummer måste vara 12 siffror, format ÅÅÅÅMMDD-XXXX.</div>
                    <div *ngIf="f.ssn.errors?.maxlength">Personnummer måste vara 12 siffror, format ÅÅÅÅMMDD-XXXX.</div>
                    <div *ngIf="f.ssn.errors.pattern">Personnumret skall endast bestå av siffror.</div>
                </div>
                <button class="btn btn-primary submitButton" [disabled]="submitted && success">Avsluta Autogiro <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></button>
                <br><br>
                <div class="alert alert-danger" *ngIf="success == false && message">{{message}}</div>
                <div class="alert alert-success" *ngIf="success == true && message">{{message}}</div>
            </form>
            <table class="table table-striped" *ngIf="autogiros">
                <thead>
                  <tr>
                    <th scope="col">Clearingnr</th>
                    <th scope="col">Kontonr</th>
                    <th scope="col">Kontonamn</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Avsluta</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let autogiro of autogiros; let i = index;">
                        <th>{{autogiro.clearingNumber}}</th>
                        <th>{{autogiro.accountNumber}}</th>
                        <th>{{autogiro.name}}</th>
                        <th>{{autogiro.amount}} SEK</th>
                        <!-- <th><button class="btn btn-primary" (click)="startAutogiro(account.ClearingNo, account.AccountNo, account.HolderName, i)" [disabled]="disabledAcc">Använd -->
                            <th><button class="btn btn-primary" (click)="cancelSpecific(i)">Avsluta
                            <span *ngIf="loadingStart && i == selectedIndex" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        </button></th>
                    </tr>
                </tbody>
              </table>
              <div class="alert alert-danger" *ngIf="successStart == false && messageStart">{{messageStart}}</div>
            <div class="alert alert-success" *ngIf="successStart == true && messageStart">{{messageStart}}</div>
        </div><!-- ./Col -->
    </div><!-- ./Row -->
</div><!-- ./Container -->
