<div class="container" id="donateWrap">
    <!-- Monthly autogiro form -->
    <section id="autogiroSection">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-xl-6 col-xxl-6 offset-md-1 offset-lg-2 offset-xl-3 offset-xxl-3">
                <h2 id="autogiro">Bli månadsgivare</h2>
                <p>Våra månadsgivare är ryggraden i vår verksamhet. Ett enormt tack för att du väljer att stötta oss.</p>
                <p>Sveriges ungdomar har lägst psykiskt välbefinnande av alla EU-länder. En miljon svenskar använder sig av anti-depressiva läkemedel.
                Baserat på statistik, kommer en ung människa i Sverige avlida i suicid antingen idag eller imorgon. Det är fruktansvärt och vi vill förebygga detta.
                Vi vill förändra den här verkligheten.
                </p>
                <p>Vi måste agera. <strong>Nu.</strong></p>
                <p>WINGS jobbar med att stärka den mentala hälsan hos ungdomar. Vår vision är att bli rikstäckande inom ämnet.
                Tillsammans med dig tar vi ett steg närmare den visionen. Tillsammans med dig gör vi skillnad.
                </p>
                <form id="donateForm" [formGroup]="donateForm" (ngSubmit)="submit()">
                    <br>
                    <h4>1. Välj månadsbelopp</h4>
                    <div id="buttonList">
                        <button type="button" class="btn btn-default amountButton shadow-none" (click)="changeAmount(100)" [ngClass]="{'isSelected': f.amount.value == 100 && !chooseVisible}">100</button>
                        <button type="button" class="btn btn-default amountButton shadow-none" (click)="changeAmount(200)" [ngClass]="{'isSelected': f.amount.value == 200 && !chooseVisible}">200</button>
                        <button type="button" class="btn btn-default amountButton shadow-none" (click)="changeAmount(500)" [ngClass]="{'isSelected': f.amount.value == 500 && !chooseVisible}">500</button>
                        <button type="button" class="btn btn-default amountButton shadow-none" (click)="toggleChoose()" [ngClass]="{'isSelected': chooseVisible}" style="margin-right: 0;">Valfritt</button>
                    </div>

                    <!-- Invisible, choose  on your own -->
                    <div *ngIf="chooseVisible" @slideInOutAnimation>
                        <br>
                        <label>Valfritt månadsbelopp (SEK):</label>
                        <input type="number" class="form-control numberInput" formControlName="amount" placeholder="0"
                        [ngClass]="{'is-invalid': (f.amount.errors && f.amount.errors!.min != null) || (submitted && f.amount.errors)}">
                        <div *ngIf="f.amount.errors" class="invalid-feedback">
                            <div *ngIf="f.amount.errors.required && submitted">Du måste fylla i ditt valfria belopp.</div>
                            <div *ngIf="f.amount.errors.min">Minsta månadsbelopp är 50 SEK.</div>
                        </div>
                    </div>
                    <!-- End invisible -->
                
                    <div *ngIf="!chooseVisible">
                        <div *ngIf="submitted && f.amount.errors">
                            <div *ngIf="f.amount.errors.required" class="invalid">Du måste välja ett månadsbelopp.</div>
                            <div *ngIf="f.amount.errors.min" class="invalid">Minsta månadsbelopp är 50 SEK.</div>
                        </div>
                    </div>

                    <br><br>
                    <h4>2. Dina uppgifter</h4>
                    <p>19800113-9297 will respond with Success after 10 s</p>
                    <p>19700123-9297 will respond with Error after 10 s</p>
                    <p>19600106-2626 will respond with NoClient after 2 seconds</p>
                    <label for="ssn">Personnummer:</label>
                    <input type="text" class="form-control input" formControlName="ssn" id="ssn" placeholder="ÅÅÅÅMMDD-XXXX"
                           [ngClass]="{'is-invalid' : submitted && f.ssn.errors}">
                    <div *ngIf="submitted && f.ssn.errors" class="invalid-feedback">
                        <div *ngIf="f.ssn.errors.required">Du måste fylla i ditt personnummer.</div>
                        <div *ngIf="f.ssn.errors?.minlength">Personnummer måste vara 12 siffror, format ÅÅÅÅMMDD-XXXX.</div>
                        <div *ngIf="f.ssn.errors?.maxlength">Personnummer måste vara 12 siffror, format ÅÅÅÅMMDD-XXXX.</div>
                        <div *ngIf="f.ssn.errors.pattern">Personnumret skall endast bestå av siffror.</div>
                    </div>
                    <br>
                    <label for="email">Email:</label>
                    <input type="text" class="form-control input" formControlName="email" id="email" placeholder="namn@exempel.com"
                           [ngClass]="{'is-invalid' : submitted && f.email.errors}">
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Du måste fylla i din email.</div>
                    </div>
                    <br>
                    <label>Välj din bank:</label>
                    <select id="bank" name="bank" class="form-select" formControlName="bank"
                            [ngClass]="{'is-invalid': submitted && f.bank.errors}">
                        <option value="" selected disabled>Välj din bank</option>
                        <option value="OEB">Danske Bank</option>
                        <option value="SHB">Handelsbanken</option>
                        <option value="ICA">ICA Banken</option>
                        <option value="LFB">Länsförsäkringar</option>
                        <option value="NB">Nordea</option>
                        <option value="SBAB">SBAB</option>
                        <option value="SEB">SEB</option>
                        <option value="SKB">Skandia</option>
                        <option value="SYD">Sparbanken Syd</option>
                        <option value="FSPA">Swedbank</option>
                        <option value="FSPASB">Swedbank Sparbankerna</option>
                    </select>
                    <div *ngIf="submitted && f.bank.errors" class="invalid-feedback">
                        <div *ngIf="f.bank.errors.required">Du måste fylla i din bank.</div>
                    </div>
                    <br><br>
                    <button action="submit" class="btn btn-primary submitButton" [disabled]="disabled">
                        Hämta kontouppgifter
                        <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    </button>
                    <br><br>
                    <!-- QR -->
                    <p *ngIf="qr" class="text-center" @slideInOutAnimation>Psst! Du kan även använda QR-koden, om det behövs:</p>
                    <img *ngIf="qr" [src]="sanitize(qr)" id="qr" @slideInOutAnimation>
                    <!-- END QR -->
                    <div class="alert alert-danger" *ngIf="success == false && message">{{message}} <span *ngIf="loadingBankid" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></div>
                    <div class="alert alert-success" *ngIf="success == true && message">{{message}} <span *ngIf="loadingBankid" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></div>
                </form>
                <!-- Step 3 -->
                <br>
                <div id="step3" *ngIf="legit" @slideInOutAnimation>
                    <h4>3. Välj konto</h4>
                    <p>Nedan följer dem konton vi lyckades hitta. Autogirokompabilitet är endast vad vi lyckades hitta
                    och måste inte alltid stämma överens med verkligheten. Välj vilket konto som helst som du vet att
                    autogiro är tillgängligt för.</p>
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">Clearingnr</th>
                            <th scope="col">Kontonr</th>
                            <th scope="col">Kontonamn</th>
                            <th scope="col">Autogirokompatibelt</th>
                            <th scope="col">Använd</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let account of accounts; let i = index;">
                                <th>{{account.ClearingNo}}</th>
                                <th>{{account.AccountNo}}</th>
                                <th>{{account.Name}}</th>
                                <th *ngIf="account.AutogiroCompatible != 'Approved'">Okänt</th>
                                <th *ngIf="account.AutogiroCompatible == 'Approved'">Ja</th>
                                <th><button class="btn btn-primary" (click)="startAutogiro(account.ClearingNo, account.AccountNo, account.HolderName, i)" [disabled]="disabledAcc">Använd
                                    <span *ngIf="loadingStart && i == selectedIndex" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                </button></th>
                            </tr>
                        </tbody>
                      </table>
                </div>
                <!-- End step 3 -->
                <br><br>
                <div class="alert alert-danger" *ngIf="autogiroSuccess == false && autogiroMessage">{{autogiroMessage}}</div>
                <div class="alert alert-success" *ngIf="autogiroSuccess == true && autogiroMessage">{{autogiroMessage}}</div>
            </div>
        </div>
    </section>
    <!-- END AUTOGIRO -->
    <br><br>
    <!-- DISCLAIMER TEXT -->
    <section id="disclaimer">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-xl-6 col-xxl-6 offset-md-1 offset-lg-2 offset-xl-3 offset-xxl-3">
                <p>Samtlig av ovanstående personlig information är essentiell för att vi skall kunna upprätta ett autogiro. För mer information om hur vi hanterar personuppgifter, se vår <a href="https://wings.se/gdpr" target="_BLANK">integritetspolicy.</a></p>
                <p>Genom att hämta ditt konto med BankID godkänner du att en kontoinformationstjänst tillhandahålls i enlighet med <a href="https://app.billecta.com/ht/accountinformationservices" target="_BLANK">Billecta Payments användarvillkor.</a></p>
            </div>
        </div>
    </section>
    <!-- END DISCLAIMER TEXT -->

</div>