/* INFO */
#firstSection {
    margin-top: 4em;
    text-align: center;
}

#mainTitle {
    padding-top: 1em;
    padding-bottom: .5em;
}

.heading {
    padding-bottom: .5em;
}
/* END INFO */

/* AUTOGIRO */
#autogiro {
    text-align: center;
    padding-top: 1em;
    padding-bottom: .5em;
}

.amountButton {
    padding: .5em 2em;
    margin-right: 2em;
    margin-top: 2em;
    border: 1px solid #b1b1b1;
}

input {
    width: 100%;
    max-width: 40em;
}

label {
    margin-bottom: .3em;
    font-weight: 300;
}

.submitButton {
    width: 100%;
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* END AUTOGIRO */
