/* AUTOGIRO */
#autogiroSection {
    margin-top: 2rem;
}

.isSelected {
    border: 2px solid #0d6efd !important;
    margin: -2px;
}

.invalid {
    color: #dc3545;
    font-size: 90%;
    margin-top: .3em;
}

.numberInput {
    width: 46.666%;
    min-width: 100px;
    padding: .7rem 1rem;
}

#autogiro {
    text-align: center;
    padding-top: 1em;
    padding-bottom: .5em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.amountButton {
    padding: .7rem 1rem;
    /* margin-right: 1em; */
    width: 20%;
    margin-right: 6.66%;
    margin-top: 2em;
    border: 1px solid #b1b1b1;
    transition: transform 0.1s;
    transform: scale(1.0)
}

.amountButton:hover {
    transform: scale(1.1);
}

.amountButton:active {
    /* transform: scale(1.0); */
    transform: translateY(.2rem) scale(1.08);
}

.input {
    width: 100%;
    max-width: 40em;
    padding: .7rem 1rem;
}

select {
    padding: .7rem 1rem;
}

label {
    margin-bottom: .3em;
    font-weight: 300;
}

.submitButton {
    /* width: 100%; */
    /* max-width: 400px; */
    padding: .7rem 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#qr {
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}

table {
    text-align: center;
}

tbody > tr > th {
    font-weight: 300 !important;
}
/* END AUTOGIRO */
