<div class="container">

    <!-- Information section -->
    <section id="firstSection">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-xl-8 col-xxl-8 offset-lg-2 offset-xl-2 offset-xxl-2">
                <hr>
                <h2 id="mainTitle">Bidra till vårt arbete för mental hälsa.</h2>
                <p>Vårt långsiktiga mål är att nå ut till Sverige samtliga gymnasieskolor och stärka ungdomarnas mentala hälsa.</p>
                <p>För att uppnå vårt mål behöver vi din hjälp.</p>
                <br><br>
                <h2 class="text-center heading">Såhär kan du hjälpa oss:</h2>
                <p><a href="donate#autogiro">Bli månadsgivare</a></p>

                <p>Bidra via ditt företag genom att <a routerLink="/contact">kontakta oss</a> först.</p>

                <p>Swisha valfritt belopp till 123 236 15 33.</p>
                <br>
                <hr>
            </div>
        </div>
    </section>
    <!-- END INFO -->

    <!-- Monthly autogiro form -->
    <section id="autogiroSection">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-xl-6 col-xxl-6 offset-lg-2 offset-xl-3 offset-xxl-3">
                <h2 id="autogiro">Bli månadsgivare</h2>
                <p>Våra månadsgivare är fundamentet i vår fortsatta verksamhet. Tack för att just Du väljer att stötta oss.</p>
                <p>Nedan följer fullständiga instruktioner för att bli månadsgivare:</p>
                <form id="donateForm" [formGroup]="donateForm" (ngSubmit)="submit()">
                    <br>
                    <h4>1. Välj månadsbelopp</h4>
                    <div id="buttonList">
                        <button type="button" class="btn btn-default amountButton shadow-none" (click)="changeAmount(100)" [ngClass]="{'isSelected': f.amount.value == 100 && !chooseVisible}">100</button>
                        <button type="button" class="btn btn-default amountButton shadow-none" (click)="changeAmount(200)" [ngClass]="{'isSelected': f.amount.value == 200 && !chooseVisible}">200</button>
                        <button type="button" class="btn btn-default amountButton shadow-none" (click)="changeAmount(500)" [ngClass]="{'isSelected': f.amount.value == 500 && !chooseVisible}">500</button>
                        <button type="button" class="btn btn-default amountButton shadow-none" (click)="toggleChoose()" [ngClass]="{'isSelected': chooseVisible}">Valfritt</button>
                    </div>

                    <!-- Invisible, choose  on your own -->
                    <div *ngIf="chooseVisible">
                        <br>
                        <label>Valfritt månadsbelopp (SEK):</label>
                        <input type="number" class="form-control numberInput" formControlName="amount" placeholder="0"
                               [ngClass]="{'is-invalid': submitted && f.amount.errors}">
                        <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
                            <div *ngIf="f.amount.errors.required">Du måste fylla i ditt valfria belopp.</div>
                            <div *ngIf="f.amount.errors.min">Minsta månadsbelopp är 50 SEK.</div>
                        </div>
                    </div>
                    <!-- End invisible -->
                
                    <div *ngIf="!chooseVisible">
                        <div *ngIf="submitted && f.amount.errors">
                            <div class="invalid">Du måste välja ett månadsbelopp.</div>
                        </div>
                    </div>

                    <br><br>
                    <h4>2. Dina uppgifter</h4>
                    <br>
                    <label for="ssn">Personnummer:</label>
                    <input type="text" class="form-control input" formControlName="ssn" id="ssn" placeholder="ÅÅÅÅMMDD-XXXX"
                           [ngClass]="{'is-invalid' : submitted && f.ssn.errors}">
                    <div *ngIf="submitted && f.ssn.errors" class="invalid-feedback">
                        <div *ngIf="f.ssn.errors.required">Du måste fylla i ditt personnummer.</div>
                        <div *ngIf="f.ssn.errors?.minlength">Personnummer måste vara 12 siffror, format ÅÅÅÅMMDD-XXXX.</div>
                        <div *ngIf="f.ssn.errors?.maxlength">Personnummer måste vara 12 siffror, format ÅÅÅÅMMDD-XXXX.</div>
                        <div *ngIf="f.ssn.errors.pattern">Personnumret skall endast bestå av siffror.</div>
                    </div>
                    <br>
                    <label for="email">Email:</label>
                    <input type="text" class="form-control input" formControlName="email" id="email" placeholder="namn@exempel.com"
                           [ngClass]="{'is-invalid' : submitted && f.email.errors}">
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Du måste fylla i din email.</div>
                    </div>
                    <br>
                    <label>Välj din bank:</label>
                    <select id="bank" name="bank" class="form-select" formControlName="bank"
                            [ngClass]="{'is-invalid': submitted && f.bank.errors}">
                        <option value="" selected disabled>Välj din bank</option>
                        <option value="OEB">Danske Bank</option>
                        <option value="SHB">Handelsbanken</option>
                        <option value="ICA">ICA Banken</option>
                        <option value="LFB">Länsförsäkringar</option>
                        <option value="NB">Nordea</option>
                        <option value="SBAB">SBAB</option>
                        <option value="SEB">SEB</option>
                        <option value="SKB">Skandia</option>
                        <option value="SYD">Sparbanken Syd</option>
                        <option value="FSPA">Swedbank</option>
                        <option value="FSPASB">Swedbank Sparbankerna</option>
                    </select>
                    <div *ngIf="submitted && f.bank.errors" class="invalid-feedback">
                        <div *ngIf="f.bank.errors.required">Du måste fylla i din bank.</div>
                    </div>
                    <br><br>
                    <button action="submit" class="btn btn-primary submitButton">
                        Hämta kontouppgifter
                        <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    </button>
                    <br><br>
                    <!-- QR -->
                    <p *ngIf="qr" class="text-center">Psst! Du kan även använda QR-koden, om det behövs:</p>
                    <img *ngIf="qr" [src]="sanitize(qr)" id="qr">
                    <!-- END QR -->
                    <div class="alert alert-danger" *ngIf="success == false && message">{{message}} <span *ngIf="loadingBankid" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></div>
                    <div class="alert alert-success" *ngIf="success == true && message">{{message}} <span *ngIf="loadingBankid" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></div>
                </form>
                <!-- Step 3 -->
                <br><br>
                <div id="step3" *ngIf="legit">
                    <h4>3. Välj konto</h4>
                    <p>Nedan följer dem konton vi lyckades hitta. Autogirokompabilitet är endast vad vi lyckades hitta
                    och måste inte alltid stämma överens med verkligheten. Välj vilket konto som helst som du vet att
                    autogiro är tillgängligt för.</p>
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">Clearingnr</th>
                            <th scope="col">Kontonr</th>
                            <th scope="col">Kontonamn</th>
                            <th scope="col">Autogirokompatibelt</th>
                            <th scope="col">Använd</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let account of accounts">
                                <th>{{account.ClearingNo}}</th>
                                <th>{{account.AccountNo}}</th>
                                <th>{{account.Name}}</th>
                                <th *ngIf="account.AutogiroCompatible != 'Approved'">Okänt</th>
                                <th *ngIf="account.AutogiroCompatible == 'Approved'">Ja</th>
                                <th><button class="btn btn-primary">Använd</button></th>
                            </tr>
                        </tbody>
                      </table>
                </div>
                <!-- End step 3 -->
            </div>
        </div>
    </section>
    <!-- END AUTOGIRO -->
    <br><br>
    <!-- DISCLAIMER TEXT -->
    <section id="disclaimer">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-xl-6 col-xxl-6 offset-lg-2 offset-xl-3 offset-xxl-3">
                <p>Samtlig av ovanstående personlig information är essentiell för att vi skall kunna upprätta ett autogiro. För mer information om hur vi hanterar personuppgifter, se vår <a>integritetspolicy.</a></p>
                <p>Genom att hämta ditt konto med BankID godkänner du att en kontoinformationstjänst tillhandahålls i enlighet med <a href="https://app.billecta.com/ht/accountinformationservices" target="_BLANK">Billecta Payments användarvillkor.</a></p>
            </div>
        </div>
    </section>
    <!-- END DISCLAIMER TEXT -->

</div>