/* FONTS */
@font-face {
    font-family: FuturaPT;
    src: url('assets/fonts/FuturaPTMedium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: FuturaPT;
    src: url('assets/fonts/FuturaPTBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: FuturaPT;
    src: url('assets/fonts/FuturaPTLight.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url('assets/fonts/raleway.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url('assets/fonts/raleway-light.ttf') format('truetype');
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: Raleway;
    src: url('assets/fonts/Raleway-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: Raleway;
    src: url('assets/fonts/Raleway-ExtraBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: Raleway;
    src: url('assets/fonts/raleway-italic.ttf') format('truetype');
    font-style: italic;
}

/* END FONTS */

/* MAIN TEXT STYLES */
p {
    font-family: Raleway;
    font-weight: 200;
    font-size: 1rem;
}

label {
    font-family: Raleway;
    font-weight: 200;
    font-size: 1rem;
}

button, a, input, select {
    font-family: Raleway;
    font-weight: 200;
    font-size: 1rem;
}

h1, h2 {
    font-family: Raleway;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h3, h4, h5 {
    font-family: Raleway;
}
/* END MAIN TEXT STYLES */

/* TOP LEVEL CSS ELEMENTS */
section {
    margin-bottom: 2em;
}
/* END TOP LEVEL CSS ELEMENTS */
