/* FONTS */
@font-face {
    font-family: FuturaPT;
    src: url('assets/fonts/FuturaPTMedium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: FuturaPT;
    src: url('assets/fonts/FuturaPTBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: FuturaPT;
    src: url('assets/fonts/FuturaPTLight.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url('assets/fonts/raleway.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url('assets/fonts/raleway-light.ttf') format('truetype');
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: Raleway;
    src: url('assets/fonts/Raleway-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: Raleway;
    src: url('assets/fonts/Raleway-ExtraBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: Raleway;
    src: url('assets/fonts/raleway-italic.ttf') format('truetype');
    font-style: italic;
}

/* END FONTS */

/* MAIN TEXT STYLES */
p {
    font-family: Raleway;
    font-weight: 200;
    font-size: 1rem;
}

button, a, input, select {
    font-family: Raleway;
    font-weight: 200;
    font-size: 1rem;
}

h1, h2 {
    font-family: Raleway;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h3, h4, h5 {
    font-family: Raleway;
}

.btn-default {
    border: 2px solid #999 !important;
    text-transform: uppercase;
    padding: 1rem 2rem !important;
    letter-spacing: 2px;
    font-weight: 600 !important;
    color: #444 !important;
    margin-top: 1rem;
    transition: 0.1s ease-out all;
}

.btn-default:hover {
    transform: translateX(.3rem);
    background: #999;
    color: #fff !important;
}
/* END MAIN TEXT STYLES */

/* TOP LEVEL CSS ELEMENTS */
section {
    margin-bottom: 2em;
}
/* END TOP LEVEL CSS ELEMENTS */
