/* FONTS */
@font-face {
    font-family: FuturaPT;
    src: url('assets/fonts/FuturaPTMedium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: FuturaPT;
    src: url('assets/fonts/FuturaPTBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: FuturaPT;
    src: url('assets/fonts/FuturaPTLight.ttf');
    font-weight: 200;
    font-style: normal;
}
/* END FONTS */

/* MAIN TEXT STYLES */
p {
    font-family: FuturaPT;
    font-weight: 200;
    font-size: 1.2em;
}

h1, h2, h3, h4, h5 {
    font-family: FuturaPT;
}
/* END MAIN TEXT STYLES */

/* TOP LEVEL CSS ELEMENTS */
section {
    margin-bottom: 2em;
}
/* END TOP LEVEL CSS ELEMENTS */
