/* First headline */
#firstSection {
    margin-top: 4em;
}

#homeTitle {
    margin-top: 5rem;
    margin-bottom: 1rem;
    text-align: center;
}
/* End first headline */

/* Second element, main image */
#mainImage {
    width: 100%;
}

#navigate {
    border: 2px solid #999 !important;
    text-transform: uppercase;
    padding: 1rem 2rem !important;
    letter-spacing: 2px;
    font-weight: 600 !important;
    color: #444 !important;
    margin-top: 1rem;
    transition: 0.1s ease-out all;
}

#navigate:hover {
    transform: translateX(.3rem);
    background: #999;
    color: #fff !important;
}
/* End main image */