<div class="container">
    
    <!-- First headline -->
    <section id="firstSection">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-xl-8 col-xxl-8 offset-lg-2 offset-xl-2 offset-xxl-2">
                <hr>
                <h2 id="firstTitle">Våra ungdomar mår sämst i hela Europa. Det är inte deras fel.</h2>
                <hr>
            </div>
        </div>
    </section>
    <!-- End first headline -->

    <!-- Main image -->
    <section id="secondSection">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-xl-8 col-xxl-8 offset-lg-2 offset-xl-2 offset-xxl-2">
                <img src="assets/img/yoga.jpeg" id="mainImage">
            </div>
        </div>
    </section>
    <!-- End main image -->
</div>
