/* First headline */
#firstSection {
    margin-top: 4em;
}

#homeTitle {
    margin-top: 5rem;
    margin-bottom: 1rem;
    text-align: center;
}
/* End first headline */

/* Second element, main image */
#mainImage {
    width: 100%;
}
/* End main image */